
						<!-- <div ng-include="addEmployee.html"></div> -->
							<!-- Modal  ng-controller="addEmployee"-->
								<div id="departmentModal" class="modal fade" role="dialog" >
								  <div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Add New Department</h4>
									  </div>
									  <div class="modal-body">
										 <form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-2" for="text">Id:</label>
											<div class="col-sm-10">
											  <input type="text" class="form-control" ng-model="department.newDepartmentId" id="email" placeholder="Enter Department Id">
											</div>
										 </div>
										<div class="form-group">
											<label class="control-label col-sm-2" for="text">Name:</label>
											<div class="col-sm-10">
											  <input type="text" class="form-control" ng-model="department.newDepartmentName" id="email" placeholder="Enter Department Name">
											</div>
										 </div>
										 <div class="form-group">
											<label class="control-label col-sm-2" for="text">Decription:</label>
											<div class="col-sm-10">
											  <input type="text" class="form-control" ng-model="department.newDepartmentDescription" id="email" placeholder="Enter Department Description">
											</div>
										 </div>
										</form>
										  
									  </div>
									  <div class="modal-footer">
									   <button type="button" class="btn btn-default" ng-click="addDepartment()" data-dismiss="modal">Add Department</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									  </div>
									</div>

								  </div>
								</div>
				