
						<!-- <div ng-include="addEmployee.html"></div> -->
						<br>
						<button type="button"  class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal{{$index}}">Add Employees</button>

							<!-- Modal  ng-controller="addEmployee"-->
								<div id="myModal{{$index}}" class="modal fade" role="dialog" >
								  <div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Add Employee in {{dept.name}}</h4>
									  </div>
									  <div class="modal-body">
										 <form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-2" for="text">Name:</label>
											<div class="col-sm-10">
											  <input type="text" class="form-control" ng-model="newEmployee.username" id="email" placeholder="Enter Name">
											</div>
										 </div>
										 <div class="form-group">
											<label class="control-label col-sm-2" for="text">Age:</label>
											<div class="col-sm-10">
											  <input type="text" class="form-control" ng-model="newEmployee.age" id="email" placeholder="Enter email">
											</div>
										</div>
										<div class="form-group">
												<label class="control-label col-sm-2" for="text">Type:</label>
												<div class="col-sm-10">
												  <input type="text" class="form-control" ng-model="newEmployee.type" id="email" placeholder="Enter contact">
												</div>
										</div>
										</form>
										  
									  </div>
									  <div class="modal-footer">
									   <button type="button" class="btn btn-default" ng-click="insertEmployee(dept)" data-dismiss="modal">Add Employee</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									  </div>
									</div>

								  </div>
								</div>
				