<div ng-controller="loggedIn">
		<div class="panel-group">
			 <div class="page-header">
			  <h1>Departments</h1>
			</div>
			 <div class="panel panel-default" ng-repeat="dept in departments">
				<div class="panel-heading" ng-click="showDepartment($index)" style="cursor:pointer">{{dept.name}}</div>
				<div class="panel-body" ng-show="showBody[$index]">
					<div class="btn btn-success" ng-click="showEmployees($index)">View Employees
					</div>
					<br><br>
					<div class="panel panel-primary" ng-show="deptEmployeesDisplay[$index]">
					  <div class="panel-heading">Employees : </div>
					  <div class="panel-body">
						<ul class="list-group" >
						  <li class="list-group-item" ng-repeat="i in deptEmployees[$index]">{{i.name}}</li>
						</ul>
					  </div>
					</div> 
					<div ng-if="type != 'ROLE_User'">
						<div ng-include="'static/addEmployeeModal.html'"></div>
					</div>
			  </div>
			</div>
		</div>
		<div ng-if="type == 'ROLE_Admin'">
			<button type="button"  class="btn btn-primary btn-md" data-toggle="modal" data-target="#departmentModal">Add Department</button>
			<div ng-include="'static/addDepartmentModal.html'"></div>
		</div>

</div>