 <form class="form-horizontal">
 
  <div ng-controller="loginForm">
  <!-- <div id="mydiv" ng-show="displaySpinner">
    <img src="Loading_icon.gif" class="ajax-loader"/>
</div> -->
 <p ng-show="badCredentials" style="color:red;left:250px">UserName Or Password is Incorrect</p>
  <div class="form-group">
    <label class="control-label col-sm-2" for="text">UserName:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="userName" id="email" placeholder="Enter userName">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" ng-model="pwd" id="pwd" placeholder="Enter password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" ng-click="login()" class="btn btn-success">Submit</button>
    </div>
  </div>
  
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      OR
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info">Create Account</button>
    </div>
  </div>
  </div>
</form>
	