<!--<!DOCTYPE>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Basic App</title>
<link rel="stylesheet" type="text/css"
	href="../css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid"></div>
	<div class="container">-->
		<form ng-submit="validateCredentials()">
			<div class="form-group">
				<label for="email">Username:</label> <input type="text"
				class="form-control" ng-model="user" ng-required="true">
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label> <input type="password"
				class="form-control" ng-model="pass" ng-required="true">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<p><span class="text-success" ng-bind="success_msg"></span>
		<span class="text-danger" ng-bind="error_msg"></span>
		</p>
<!--		<a href="../../index.jsp">Go to Home</a>
	</div>
</body>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/ui-bootstrap-tpls.js"></script>
</html>-->
