<div ng-if="islogged==true">
	<div class="row" style="margin-bottom: 20px;">
		<div
			class="col-sm-offset-4 col-md-offset-3 col-lg-offset-3 col-sm-3 col-md-2 col-lg-2">
			<label for="query_type" class="text-center">Query Type</label>
		</div>
		<div class="col-sm-4 col-md-3 col-lg-3">
			<select ng-model="query_type" id="query_type" ng-change="setEmpty(query_type)">
				<option ng-repeat="type in types track by $index"
					ng-value="$index+1" >{{type}}</option>
			</select>
		</div>
	</div>
	<div id="q1" ng-show='query_type==1'>
		<input type="button" class="btn btn-default" ng-click="getUsers()" value="Submit">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>name</th>
					<th>Age</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<th>{{user.id}}</th>
					<td>{{user.name}}</td>
					<td>{{user.age}}</td>
					<td>{{user.salary}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="q2" ng-show='query_type==2'>
		<form ng-submit="getUserDetails()">
			<div class="form-group">
				<label for="Singleclient">ClientId:</label> <input type="number"
					class="form-control" ng-model="q2.singleClient" id="Singleclient"
					ng-required="true">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>name</th>
					<th>Age</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>{{singleClient.id}}</th>
					<td>{{singleClient.name}}</td>
					<td>{{singleClient.age}}</td>
					<td>{{singleClient.salary}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="q3" ng-show='query_type==3'>
		<form ng-submit="createClient()">
			<div class="form-group">
				<label for="q3.id">Id:</label> <input type="number"
					class="form-control" ng-model="q3.Id" id="q3.id" ng-required="true">
			</div>
			<div class="form-group">
				<label for="q3.name">Name:</label> <input type="text"
					class="form-control" ng-model="q3.Name" id="q3.name" ng-required="true">
			</div>
			<div class="form-group">
				<label for="q3.age">Age:</label> <input type="number"
					class="form-control" ng-model="q3.Age" id="q3.age" ng-required="true">
			</div>
			<div class="form-group">
				<label for="q3.salary">Salary:</label> <input type="number" step="any" min="0" 
					class="form-control" ng-model="q3.Salary" id="q3.salary" ng-required="true">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<div id="q4" ng-show='query_type==4'>
		<form ng-submit="updateClient()">
			<div class="form-group">
				<label for="q4.id">Id:</label> <input type="number"
					class="form-control" ng-model="q4.Id" id="q4.id" ng-required="true">
			</div>
			<div class="form-group">
				<label for="q4.name">Name:</label> <input type="text"
					class="form-control" ng-model="q4.Name" id="q4.name" ng-required="true">
			</div>
			<div class="form-group">
				<label for="q4.age">Age:</label> <input type="number"
					class="form-control" ng-model="q4.Age" id="q4.age" ng-required="true">
			</div>
			<div class="form-group">
				<label for="q4.salary">Salary:</label> <input type="number" step="any" min="0" 
					class="form-control" ng-model="q4.Salary" id="q4.salary" ng-required="true">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>

	</div>

	<div id="q5" ng-show='query_type==5'>
		<form ng-submit="deleteClient()">
			<div class="form-group">
				<label for="removeClient">ClientId:</label> <input type="number"
					class="form-control" ng-model="q5.removeClient" id="removeClient"
					ng-required="true">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<div id="q6" ng-show='query_type==6'>
		<input type="button" class="btn btn-default" ng-click="deleteAllClients()" value="Submit">
	</div>
</div>
<p ng-bind="feedback" ng-class="feedback_class" style="font-size: 18px;">

</p>

